@tailwind base;
@tailwind components;
@tailwind utilities;

:root, html, body {
    @apply flex flex-col text-[13pt] text-neutral-800 max-w-none font-sans leading-normal break-keep dark:bg-neutral-900 dark:text-white;
    overflow-wrap: anywhere;
}

@supports (width: 100dvw) {
    :root, html, body {
        @apply w-[100dvw] h-[100dvh];
    }
}
@supports not (width: 100dvw) {
    :root, html, body {
        @apply w-full h-full;
    }
}

* {
    @apply transition-all ease-in-out duration-300 delay-0;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-semibold;
}

:is(h1, h2, h3):not(:first-child) {
    @apply mt-4;
}

h4:not(:first-child) {
    @apply mt-2;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

a {
    @apply border-b-2 border-neutral-500 dark:border-neutral-700;
}

a:is(:hover, :focus, :active) {
    @apply border-neutral-700 dark:border-neutral-500;
}

a:has(button) {
    @apply border-none;
}

i, em {
    @apply italic;
    font-feature-settings: "calt",
        "case",
        "ss01",
        "cv05",
        "cv07",
        "cv11";
}

strong {
    @apply font-semibold;
}

ul, ol {
    @apply list-inside text-left;
}

ul {
    @apply list-disc;
}

ol {
    @apply list-decimal;
}

pre, code, samp, kbd {
    @apply !font-mono;
}

pre {
    @apply p-4 overflow-x-scroll;
}

pre:not(:has(code)) {
    @apply border border-neutral-400 dark:border-neutral-700;
}

pre:has(code) {
    @apply bg-neutral-100 dark:bg-neutral-800;
}

samp {
    @apply bg-neutral-100 dark:bg-neutral-800 border-2 border-neutral-100 dark:border-neutral-800;
}

:not(pre, samp) > :is(code, kbd) {
    @apply rounded-sm bg-neutral-100 dark:bg-neutral-800 border-2 border-neutral-100 dark:border-neutral-800;
}

input:not([type="button"]):not([type="radio"]):not([type="checkbox"]), select, textarea, #duration {
    @apply min-h-[1.5rem] border-2 border-neutral-200 rounded bg-transparent p-1 outline-none;
}

input[type="datetime-local"], input[type="time"] {
    @apply text-left;
}

button {
    @apply flex rounded border w-full p-1 text-white items-center justify-center bg-[--primary-500] border-[--primary-500] dark:bg-[--primary-700] dark:border-[--primary-700];
}

button:not(:disabled):is(:hover, :focus, :active) {
    @apply opacity-90;
}

button.pr_white_button {
    @apply border-neutral-500 bg-transparent text-neutral-800 dark:border-neutral-400 dark:text-white;
}

button.pr_white_button:not(:disabled):is(:hover, :focus, :active) {
    @apply text-[--primary-600] border-[--primary-500] dark:text-[--primary-300] dark:border-[--primary-400] opacity-100;
}

button:disabled {
    @apply border-neutral-400 bg-neutral-400 dark:border-neutral-800 dark:bg-neutral-800 text-white dark:text-neutral-500 shadow-none;
}

input:not([type="button"]):not([type="radio"]):not([type="checkbox"]):is(:hover, :focus, :active),
select:is(:hover, :focus, :active),
textarea:is(:hover, :focus, :focus-visible, :active),
#duration:is(:hover, :focus, :active),
#duration:has(input:is(:hover, :focus, :active)) {
    @apply border-[--primary-500] dark:border-[--primary-300] outline-none;
}

#duration input {
    @apply w-5 p-0 border-none rounded-none;
}

table {
    @apply border-separate border-spacing-2 -ml-2;
}

th {
    @apply text-[--primary-600] dark:text-[--primary-300] text-left;
}

header {
    @apply flex items-center gap-2 w-full px-4 py-3 z-30 fixed text-xl bg-white/75 dark:bg-neutral-900/75 backdrop-blur border-b border-neutral-100 dark:border-neutral-800;
}

#hamburger {
    @apply w-full h-full fixed grid backdrop-blur sm:hidden grid-cols-7 gap-0 top-0 left-0 z-50 -ml-[100vw];
}

#hamburger.hamburger-open {
    @apply ml-0;
}

#menu {
    @apply flex flex-col p-4 col-span-5 bg-white/90 dark:bg-neutral-900/90 border-r border-neutral-200 dark:border-neutral-800;
}

:is(header, #menu) ul {
    @apply list-none;
}

#hamburger-item {
    @apply pl-6 pr-4 py-3;
}

#hamburger-item:is(:hover, :focus, :active) {
    @apply bg-black/5 dark:bg-white/5;
}

:is(header, #menu) a {
    @apply border-none;
}

:is(header, #menu) a:is(:hover, :focus, :active) {
    @apply sm:text-[--primary-500] dark:sm:text-[--primary-300];
}

#wrapper {
    @apply hidden bg-black opacity-0 fixed top-0 left-0 w-full h-full z-40;
}

#wrapper.hamburger-open {
    @apply block sm:hidden opacity-30;
}

.content {
    @apply w-full pt-[3.25rem] pb-4;
}

#top-board {
    @apply w-full -mt-[3.25rem] pt-[4.25rem] pb-8 bg-[--primary-50] dark:bg-transparent;
}

#top-board-content {
    @apply w-10/12 sm:w-9/12 grid sm:grid-cols-5 gap-4 mx-auto;
}

div, main {
    @apply flex flex-col gap-2;
}

main {
    @apply w-10/12 pt-4 mx-auto;
}

footer {
    @apply w-full text-neutral-600 dark:bg-transparent dark:text-neutral-200 text-xs px-4 py-6 mt-auto text-center bg-[--primary-50];
}

footer a {
    @apply border-b-2 border-neutral-400 dark:border-neutral-700;
}

footer a:is(:hover, :focus, :active) {
    @apply border-neutral-500 dark:border-neutral-500;
}

.pr_timetable_content {
    @apply w-full flex flex-row items-stretch gap-4 border-t border-neutral-200 dark:border-neutral-600 p-2;
}

.doc {
    @apply text-left container mx-auto;
}

.doc h2 {
    @apply mt-4;
}

dialog {
    @apply bg-white dark:bg-neutral-900 border border-neutral-200 dark:border-neutral-700 text-neutral-800 dark:text-white max-w-none max-h-none m-auto w-full h-full sm:w-10/12 sm:h-5/6 sm:rounded p-4 open:flex open:flex-col;
}

dialog::backdrop, dialog + .backdrop {
    @apply bg-black/30 backdrop-blur-sm;
}

.pr_icon_button {
    @apply text-[currentColor] border-none bg-transparent w-auto min-h-0 p-0;
}

.pr_icon_button:not(:disabled):is(:hover, :focus, :active) {
    @apply shadow-none text-[--primary-600] dark:text-[--primary-400];
}

.pr_icon_button:disabled {
    @apply text-[currentColor] opacity-50 bg-transparent;
}

.pr_dialog_close {
    @apply border-none bg-transparent text-[currentColor] hover:shadow-none focus:shadow-none active:shadow-none w-auto p-3 -mt-4 -ml-4 mr-auto text-xl fixed;
}
